@model PokerViewer.Models.Add

@{
    ViewBag.Title = "Result";
}

<h2>Parse Results</h2>

<div>
    <ul>
        @foreach (string str in ViewData["messages"] as IList<string>)
        {
            <li>
                @str
            </li>
        }
    </ul>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
