@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron-fluid">
       <p class="lead">This project is a web app to be used for viewing data in a poker hand history database.</p>
 
</div>

<div class="col-md-4 col-sm-6" id="big-sexy">
	<i class="fa fa-hand-paper-o" aria-hidden="true"></i>
	<a class="btn btn-default " href="/hands">List of hands</a>

	

</div>
<div class="col-md-4 col-sm-6" id="big-sexy">
	<i class="fa fa-users" aria-hidden="true"></i>
	<a class="btn btn-default" href="/players">Players</a>



</div>
<div class="col-md-4 col-sm-6" id="big-sexy">
	
	<i class="fa fa-table" aria-hidden="true"></i>
	<a class="btn  btn-default" href="/tables">List of Tables</a>

</div>
<div class="col-md-4 col-sm-6" id="big-sexy">
	<i class="fa fa-money" aria-hidden="true"></i>
	<a class="btn btn-default " href="/hand_action">Actions</a>


</div>
<div class="col-md-4 col-sm-6" id="big-sexy">
	<i class="fa fa-list" aria-hidden="true"></i>
	<a class="btn btn-default " href="/plays">Player hands</a>


</div>
<div class="col-md-4 col-sm-6" id="big-sexy">

	<i class="fa fa-database"></i> 
	<a class="btn btn-default" href="/Add/Create">Add Data</a>

</div>

